:root,
.app.dark {
    --bg-color: #457b9d;
    --inverted-bg-color: #f1faee;
    --primary-color: #a8dadc;
    --secondary-color: #1d3557;
    --inverted-primary-color: #1d3557;
    --inverted-secondary-color: #a8dadc;
}
