:root,
.app_light_theme {
    --bg-color: #f1faee;
    --inverted-bg-color: #457b9d;
    --primary-color: #0c5ccc;
    --secondary-color: #a8dadc;
    --inverted-primary-color: #a8dadc;
    --inverted-secondary-color: #1d3557;
}
