:root,
.app.light{
  --bg-color:#F1FAEE;
  --inverted-bg-color:#457B9D;

  --primary-color:#1D3557;
  --secondary-color:#A8DADC;

  --inverted-primary-color:#A8DADC;
  --inverted-secondary-color:#1D3557;
}